// import fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

// color palette
$firstColor: #31302C;
$secondColor: #CBCBCA;
$thirdColor: #6D6754;
$fourthColor: #9B988D;
$fifthColor: #E8B340;
$sixthColor: #F4F2E7;

body {
    background-color: $firstColor;
    color: $secondColor;
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/pizza.png");
    background-repeat: no-repeat;
    background-position-x: -500px;
    background-position-y: 70px;
}

#root {
    margin-top: 15px;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.ui.menu {
    .header {
        color: $fourthColor;
    }
}
.ui.cards {
    .card {
        .content {
            .header {
                font-family: 'Merriweather', serif;
                font-size: 1.5em !important;
            }
            .meta {
                padding-top: 12px;
            }
            .description {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}
.ui.list {
    .item {
        padding: 10px 15px;
        .content {
            font-family: 'Merriweather', serif;
        }
    }
}
