@import url(https://fonts.googleapis.com/css2?family=Merriweather);@import url(https://fonts.googleapis.com/css2?family=Roboto);body {
  background-color: #31302C;
  color: #CBCBCA;
  font-family: "Roboto", sans-serif;
  background-image: url("/images/pizza.png");
  background-repeat: no-repeat;
  background-position-x: -500px;
  background-position-y: 70px;
}

#root {
  margin-top: 15px;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

.ui.menu .header {
  color: #9B988D;
}

.ui.cards .card .content .header {
  font-family: "Merriweather", serif;
  font-size: 1.5em !important;
}

.ui.cards .card .content .meta {
  padding-top: 12px;
}

.ui.cards .card .content .description {
  font-size: 1.5em;
  font-weight: bold;
}

.ui.list .item {
  padding: 10px 15px;
}

.ui.list .item .content {
  font-family: "Merriweather", serif;
}

